<div>
    <div style="height: 80px; padding-top: 4px; padding-left: 15px; background-color: #0066cc;">
        <h1>Localit Application Nofication</h1>
    </div>

    <div>
        <p style="padding: 10px;">
            We glad to notify you, <br />
            that you have an new translation for task
            <a href="<?= $this->url('application/edit-task', ['task' => $task->getInstanceNumber()], ['force_canonical' => true]); ?>">
                <?= $task->getName(); ?>.
            </a>
        </p>
        <p style="padding: 10px;">
            Translation was uploaded by user <?= $user->getDisplayName(); ?>
        </p>
        <p style="padding: 10px;">
        <h2>Some details here</h2>
        Task Name: <?= $task->getName(); ?> (#<?= $task->getInstanceNumber(); ?>)<br />
        Finish estimation date: <?= $task->getEstimatedDate('Y-m-d'); ?><br />
        Task Description: <?= $task->getDescription(); ?><br />
        Uploaded language: <a href="<?= $this->url('localit/download-translation', [
            'task' => $task->getInstanceNumber(),
            'language' => $language
        ], ['force_canonical' => true]); ?>"><?= $language; ?></a><br />

        </p>
        <p>
            Click <a href="<?= $this->url('application/edit-task', ['task' => $task->getInstanceNumber()], ['force_canonical' => true]); ?>">here</a> to see it online.
        </p>
    </div>
    <hr />
    <div style="padding: 20px;">
        With best regards, <br />
        Localit Team ;)<br />
    </div>

    <div>
        Fill free to contact with us if u want to improve this notification or add some additional.<br />
        <a href="https://docs.google.com/document/d/1-0mt_ybm49gu55nA-dAhOpqfpdGc6z6Yj1I43TuMYUM/edit?usp=sharing">Bugtrack doc</a>
    </div>

</div>