<div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><?php echo $this->translate('Add new task form: Review fetched data') ?></h3>
        </div>
        <div class="panel-body">
            <?= $this->localitShowTaskContent($task); ?>

            <? if (isset($errorMessage)): ?>
                <div class="error">
                    <?= $errorMessage; ?>
                </div>
            <? endif; ?>
        </div>

    </div>
</div>