<?php
$form->setAttribute('action', $this->url('localit/approve-translation', array('task' => $task->getInstanceNumber())))
    ->setAttribute('method', 'POST')
    ->setAttribute('role', 'form')
    ->prepare();

echo $this->form()->openTag($form);
?>

<fieldset <?= array_key_exists('disabled', $options) && $options['disabled'] ? 'disabled' : ''; ?>>

    <?= $this->formHidden($form->get('language')); ?>

    <div class="row">
        <div class="pull-right">
            <div class="form-group">
                <?= $this->formButton($form->get('cancel')->setAttribute('id', 'cancel'), 'cancel'); ?>
                <?= $this->formSubmit($form->get('approve')); ?>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Translation of Task Content</div>
            </div>
            <div class="panel-body">
                <table style="width: 100%;">

                    <? foreach ($form->get('chunks') as $chunkFieldSet): ?>
                        <tr>
                            <? foreach ($chunkFieldSet as $element): ?>
                                <? if ($element->getAttribute('type') === 'textarea'): ?>
                                    <td>
                                        <?= $this->bootstrapElement('formTextarea', $element); ?>
                                    </td>
                                <? endif; ?>
                            <? endforeach; ?>
                        </tr>
                    <? endforeach; ?>
                </table>
            </div>
        </div>

    </div>

<?php
    $extraFieldSet = $form->has('extra') ? $form->get('extra') : [];
    if (count($extraFieldSet) > 0):
?>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Extra fields from translation file</div>
            </div>
            <div class="panel-body">
                <?= $this->bootstrapElement('formCheckbox', $form->get('includeExtraFields')); ?>
                <table style="width: 100%;">

                    <? foreach ($form->get('extra') as $chunkFieldSet): ?>
                        <tr>
                            <? foreach ($chunkFieldSet as $element): ?>
                                <? if ($element->getAttribute('type') === 'textarea'): ?>
                                    <td>
                                        <?= $this->bootstrapElement('formTextarea', $element); ?>
                                    </td>
                                <? endif; ?>
                            <? endforeach; ?>
                        </tr>
                    <? endforeach; ?>
                </table>
            </div>
        </div>
    </div>

<?php endif; ?>

    <div class="row">
        <div class="pull-right">
            <div class="form-group">
                <?= $this->formButton($form->get('cancel'), 'cancel'); ?>
                <?= $this->formSubmit($form->get('approve')); ?>
            </div>
        </div>
    </div>
</fieldset>

<?= $this->form()->closeTag(); ?>

<script type="text/javascript">
    $('.localit-origin').each(function()    {
        $(this).attr('readonly', 'readonly');
    });
</script>