<?php
$form->setAttribute('action', $this->url('localit/create-task-master', array('action' => 'approve-export-result')))
    ->setAttribute('method', 'POST')
    ->setAttribute('role', 'form')
    ->prepare();

echo $this->form()->openTag($form);
?>

<fieldset <?= array_key_exists('disabled', $options) && $options['disabled'] ? 'disabled' : ''; ?>>

<?= $this->formHidden($form->get('id')); ?>

<div>
    <div class="pull-right">
        <div class="form-group">
            <?= $this->formButton($form->get('cancel')->setAttribute('id', 'cancel'), 'cancel'); ?>
            <?= $this->formSubmit($form->get('approve')); ?>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<table style="width: 100%;">

<? foreach ($form->get('chunks') as $chunkFieldSet): ?>
    <tr>
        <? foreach ($chunkFieldSet as $element): ?>
            <? if ($element->getAttribute('type') === 'textarea'): ?>
                <td>
                    <?= $this->bootstrapElement('formTextarea', $element); ?>
                </td>
            <? endif; ?>
        <? endforeach; ?>
    </tr>
<? endforeach; ?>
</table>

<div class="pull-right">
    <div class="form-group">
        <?= $this->formButton($form->get('cancel'), 'cancel'); ?>
        <?= $this->formSubmit($form->get('approve')); ?>
    </div>
</div>

<fieldset <?= array_key_exists('disabled', $options) && $options['disabled'] ? 'disabled' : ''; ?>>

<?= $this->form()->closeTag(); ?>