<select class="form-control">
<% for (var value in range) { %>
        <option value="<%= range[value] %>" <%= typeof(first) === 'undefined' ? 'selected' : '' %>><%= range[value] %></option>
    <%
    var first = true
    %>
<% } %>
</select>