<?php foreach ($log as $logEntry): ?>
    <?php if ($logEntry): ?>
        <div class="log-entry">
            <div class="log-entry-date">
                [<?= $logEntry->getDate('Y-m-d H:i:s'); ?>]
                <?= $logEntry->getType(); ?>

                <?php if($logEntry->getUser()): ?>
                    by <a href="#"><?= $logEntry->getUser()->getDisplayName(); ?></a>
                <?php endif; ?>

            </div>
            <?php if($logEntry->getComment()): ?>
                <div>with comment: <span class="log-comment"><?= $logEntry->getComment(); ?></span></div>
            <?php endif; ?>
            <dl>
                <?php
                $changeSet = $logEntry->getChangeSet();
                foreach ($changeSet as $propertyName => $change): ?>
                <dt>
                    <?= $propertyName; ?>
                </dt>
                <dd>
                    <?php if (is_null($change['before'])): ?>
                        set to <? print_r($change['after']); ?>
                    <?php else: ?>
                        <s><? print_r($change['before']); ?></s> <? print_r($change['after']); ?>
                    <?php endif; ?>
                </dd>
                <?php endforeach; ?>
            </dl>
        </div>
    <?php endif; ?>
<?php endforeach; ?>