.localit-bbar   {
    margin-bottom: 50px;
}


.localit-popup .localit-rightcolumn  {
    min-width: 250px;
}

.localit-popup  {
    position: absolute;
    display: none;

    container: body;

    margin-top: 60px;
}




.localit-td-checkbox    {
    width: 8px;
}

.localit-title  {
    font-size: large;
}

.localit-td-alignleft   {
    text-align: left;
}

.localit-td-textarea    {
    max-width: 500px;
    min-width: 0px;
    padding: 2px!important;
}

.right-border  {
    border-right: #ddd solid thin;
}

.panel-log  {
    background-color: #DDDDDD;
}

table.localit-tasklist tr th    {
    border-right: #ddd solid thin;
}

table.localit-tasklist tr:nth-child(2n) td:first-child  {
    border-top: none;
}

table.localit-tasklist tr:nth-child(4n+1), table.localit-tasklist tr:nth-child(4n+2) {
    background: #F9F9F9;
}


table.localit-tasklist tr:nth-child(4n+3), table.localit-tasklist tr:nth-child(4n+4) {
    background: #FFFFFF;
}

table.localit-tasklist .trash    {
    background-color: #d9534f!important;
}
table.localit-tasklist .archived    {
    background-color: #269abc!important;
}



table.localit-tasklist td   {
    max-width: 300px;
}



dl dd   {
    margin-left: 2px;
    padding-bottom: 12px;
}


.localit-lng-btn-translated {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}

.localit-readmore   {
    max-height: 1.2em;
    overflow: hidden;
}

.localit-readmore-expandable    {
    cursor: pointer;
}
.localit-readmore-expandable:hover  {
    text-decoration: underline;
}


.localit-readmore-readless-link, .localit-readmore-readmore-link {
    display:inline;
}

.localit-readmore-expand .localit-readmore    {
    max-height: none;
}



.localit-autoreplace    {
    display: inline;
}

.localit-autoreplace > div    {
    display: inline;
}

.localit-autoreplace-control-wrapper .localit-autoreplace-control    {
    display: inline-block;
    width: 150px;
}
.localit-autoreplace .localit-autoreplace-control-wrapper    {
    display: none;
}

.localit-autoreplace-error    {
    display: inline;
}


.localit-loading    {
    display: none;
    background-image: url('./../img/loading.gif');
    background-size: 14px;
    width: 14px;
    height: 14px;
}

.localit-autoreplace-ok {
    display: none;
    background-image: url('./../img/ok.png');
    background-size: 14px;
    width: 14px;
    height: 14px;
}

.localit-autoreplace.form-group {
    line-height: 33px;
}

.localit-timestamp  {
    display: inline;
}

.log-entry dl  {
    margin-top: 1px;
}

.log-entry .log-comment {
    font-style: italic;
}

a.download-language-btn:visited   {
    color: blueviolet!important;
}