<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Languages list</h1>
    </div>
    <div class="panel-body">
        <form action="<?= $this->url('application/backend', [
            'action' => 'languages'
        ]); ?>" method="post">
        <table>
            <tr>
                <th>Abbr</th>
                <th>Language</th>
                <th>Rate $/word</th>
            </tr>
        <?php foreach ($languages as $language): ?>
            <tr>
                <td>
                    <input type="text" name="<?= $language->getId(); ?>[abbr]" value="<?= $language->getAbbr(); ?>" class="form-control" />
                </td>
                <td>
                    <input type="text" name="<?= $language->getId(); ?>[name]" value="<?= $language->getName(); ?>" class="form-control" />
                </td>
                <td>
                    <input type="text" name="<?= $language->getId(); ?>[rate]" value="<?= $language->getRate(); ?>" class="form-control" />
                </td>
            </tr>
        <?php endforeach; ?>
        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>

        </form>
    </div>
</div>