<? $this->headLink()->appendStylesheet($this->basePath() . '/css/localit-style.css'); ?>

<?= $this->printWelcomeHeader(); ?>

<h1>Manager dashboard</h1>

<?//= $this->partial('application/index/filtering-toolbar', [
//    'filterSet' => $filterSet,
//    'activeFilter'  => $activeFilter,
//    'sortSet' => $sortSet,
//    'activeSort'  => $activeSort,
//    'sortDirection'  => $sortDirection
//]); ?>

<form action="<?= $this->url('dashboard'); ?>">

<?= $this->partial('application/index/filtering-toolbar'); ?>


<?= $this->taskList; ?>

    <?php if (isset($actionSuccess)): ?>
    <div class="panel panel-info">
        <div class="panel-body">
            <?php if ($actionSuccess): ?>
                <div class="alert-success alert">
                    Was updated <?= $updatedNumber; ?> documents
                </div>
            <?php else: ?>
                <div class="alert-warning">
                    Error while batch process: <?= $error; ?>
                </div>

            <?php endif; ?>
        </div>
    </div>
    <?php endif; ?>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="btn-toolbar pull-left">
            <button type="submit" class="btn btn-default" name="action" value="approve">Approve</button>
            <button type="submit" class="btn btn-default" name="action" value="close">Close</button>
            <button type="submit" class="btn btn-default" name="action" value="archive">Archieve</button>
            <button type="submit" class="btn btn-default" name="action" value="delete">Delete</button>
        </div>
        <div class="btn-toolbar pull-right">
            <a href="<?= $this->url('application/create-task'); ?>" class="btn btn-default">Create new task</a>
        </div>
    </div>
</div>

</form>