<? $this->headLink()->appendStylesheet($this->basePath() . '/css/localit-style.css'); ?>
<? $this->headScript()->appendFile($this->basePath() . '/js/ejs/ejs_production.js'); ?>
<? $this->headScript()->appendFile($this->basePath() . '/js/uploader.js'); ?>

<?= $this->printWelcomeHeader(); ?>

<h1>Translator dashboard</h1>

<form action="<?= $this->url('dashboard'); ?>">

    <?= $this->partial('application/index/filtering-toolbar'); ?>


<?= $this->taskList; ?>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-toolbar pull-left">
        </div>
        <div class="btn-toolbar pull-right">
        </div>
    </div>
</div>

</form>