<div class="form-group localit-autoreplace">
    <label class="control-label" for="control"><%= label %></label>

    <div class="localit-autoreplace-loading localit-loading"></div>
    <div class="localit-autoreplace-ok"></div>
    <div class="localit-autoreplace-error error"></div>

    <div class="localit-autoreplace-title well well-sm"><%= startValue %></div>

    <div class="localit-autoreplace-control-wrapper">
        <input type="number" name="<%= name %>" id="control" class="form-control localit-autoreplace-control" required="required" value="<%= startValue %>">
    </div>
    <p class="help-block"><%= help %></p>
</div>