<div class="localit-autoreplace">
    <div class="localit-autoreplace-title well well-sm"><%= haystack[startValue] %></div>
    <div class="localit-autoreplace-control-wrapper">
        <select class="localit-autoreplace-control">
            <% for (var value in haystack) { %>
            <option value="<%= value %>" <%= (value == startValue) ? 'selected' : '' %>>
            <%= haystack[value] %>
            </option>
            <% } %>
        </select>
    </div>
    <div class="localit-autoreplace-loading"></div>
    <div class="localit-autoreplace-ok"></div>
    <div class="localit-autoreplace-error error"></div>
</div>