<div class="btn-toolbar pull-right" role="toolbar">
    <div class="btn-group">
        <button type="button" data-localit-action="remove" class="btn btn-default">-</button>
        <button type="button" data-localit-action="add"    class="btn btn-default">+</button>
    </div>
</div>