<form action="<%= action %>" enctype="multipart/form-data" method="post">
    <% for (var name in data) { %>
        <input type="hidden" name="<%= name %>" value="<%= data[name] %>" />
    <% } %>
    <input type="file" name="file" id="file" />
</form>