<div class="panel panel-default">
    <div class="panel-heading">
        Add new language to list
    </div>
    <div class="panel-body">
        <form name="add-language">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="abbr">Abbreviation</label>
                        <input required type="text" name="abbr" id="abbr" class="form-control" />
                    </div>
                </div>

                <div class="col-xs-9 localit-rightcolumn">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input required type="text" name="name" id="name" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <div class="form-group">
                        <label for="rate">Rate, $/one word</label>
                        <input required type="number" name="rate" id="rate" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="btn-group pull-right">
                <button type="button" data-localit-action="close-popup"   class="btn btn-default">Close</button>
                <button type="submit" data-localit-action="post-language" onclick="return false;" class="btn btn-default">Submit</button>
            </div>

        </form>
    </div>
</div>