<div class="panel panel-default">
    <div class="panel-heading">
        Add new category to list
    </div>
    <div class="panel-body">
        <form name="add-language">
            <div class="clearfix">
                <div class="col-xs-9 localit-rightcolumn">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="btn-group pull-right">
                <button type="button" data-localit-action="close-popup"   class="btn btn-default">Close</button>
                <button type="button" data-localit-action="post-language" class="btn btn-default">Submit</button>
            </div>

        </form>
    </div>
</div>