<?php
$this->headScript()->appendFile($this->basePath() . '/js/ejs/ejs_production.js');
$this->headScript()->appendFile($this->basePath() . '/js/reference-book.js');
$this->headLink()->appendStylesheet($this->basePath() . '/css/localit-style.css');


$form->setAttribute('action', $this->url('localit/create-task-master', array('action' => 'save-task-meta-info')))
     ->setAttribute('method', 'POST')
     ->setAttribute('role', 'form')
     ->prepare();

echo $this->form()->openTag($form);
?>

<?= $this->formHidden($form->get('id')); ?>

<div class="col-xs-6">

    <?= $this->bootstrapElement('formText', $form->get('name'), array(
        'help' => 'Type an individual name for task'
    )); ?>

    <?= $this->bootstrapElement('formTextarea', $form->get('description'), array(
        'help' => 'Provide task description'
    )); ?>

    <?= $this->bootstrapElement('formDate', $form->get('expectedDate'), array(
        'help' => 'Provide date when you expect result'
    )); ?>

</div>
<div class="col-xs-6">

<!--    --><?//= $this->formHidden($form->get('origin_language')->setValue('en')); ?>
<!--    --><?//= $this->bootstrapElement('formSelect', $form->get('originLanguage')); ?>

    <?= $this->bootstrapElement('formSelect', $form->get('translate')); ?>
    <?= $this->bootstrapElement('formSelect', $form->get('category')); ?>

    <div class="form-group">
        Task contain: <?= $task->getWordsCount(); ?> words.
    </div>

</div>

<div class="clearfix"></div>
<hr />
<div class="form-group pull-right">
    <?= $this->formSubmit($form->get('cancel'), 'Discard'); ?>
    <?= $this->formSubmit($form->get('submit')); ?>
</div>

<?= $this->form()->closeTag(); ?>

<script type="text/javascript">
    $(function()    {
        $(document.forms.create_task).localitEditable();
    });

</script>