<?php
$this->headScript()->appendFile($this->basePath() . '/js/ejs/ejs_production.js');
$this->headScript()->appendFile($this->basePath() . '/js/reference-book.js');
$this->headLink()->appendStylesheet($this->basePath() . '/css/localit-style.css');

$form->setAttribute('action', $this->url('localit/edit-task', array('action' => 'save-task-meta-info')))
     ->setAttribute('method', 'POST')
     ->setAttribute('role', 'form')
     ->prepare();

echo $this->form()->openTag($form);
?>

<?= $this->formHidden($form->get('id')); ?>

<div class="col-xs-6">

    <?= $this->bootstrapElement('formText', $form->get('name'), array(
        'help' => 'Type an individual name for task'
    )); ?>

    <?= $this->bootstrapElement('formTextarea', $form->get('description'), array(
        'help' => 'Provide task description'
    )); ?>

    <?= $this->bootstrapElement('formDate', $form->get('expectedDate'), array(
        'help' => 'Provide date when you expect result'
    )); ?>

</div>
<div class="col-xs-6">

<!--    --><?//= $this->formHidden($form->get('origin_language')->setValue('en')); ?>
<!--    --><?//= $this->bootstrapElement('formSelect', $form->get('originLanguage')); ?>

    <?= $this->bootstrapElement('formSelect', $form->get('status')); ?>
    <?= $this->bootstrapElement('formSelect', $form->get('translate')); ?>
    <?= $this->bootstrapElement('formSelect', $form->get('category')); ?>

    <div class="form-group">
        Task contain: <span id="words-count"><?= $this->showWordsCount($task, ['short' => true]); ?></span> words.
        <a href="<?= $this->url('localit/edit-task', [
            'action' => 'recalcualte-words-count',
            'task'   => $task->getInstanceNumber()
        ]); ?>" id="words-recalculate">recalculate</a>
        <div class="localit-loading"></div>
        <div class="error"></div>
    </div>

    <?= $this->bootstrapElement('formTextarea', $form->get('comment'), array(
        'help' => 'You can comment your changes in the task for historical reasons'
    )); ?>

</div>

<div class="clearfix"></div>
<hr />
<div class="form-group pull-right">
    <?= $this->formSubmit($form->get('clone'), 'Save as copy'); ?>
    <?= $this->formSubmit($form->get('cancel'), 'Close'); ?>
    <?= $this->formSubmit($form->get('submit')); ?>
</div>

<?= $this->form()->closeTag(); ?>

<div class="row" style="padding-bottom: 15px;">
    <div class="pull-left col-xs-6">
        <div>
            <label>Download translations</label>
        </div>
        <div class="btn-group btn-group-xs">
            <? foreach ($task->getFinishedHash() as $language => $finished): ?>
                <a class="download-language-btn btn btn-default <?= $finished ? '' : 'disabled'; ?>" href="<?= $this->url('localit/download-translation', [
                    'task' => $task->getInstanceNumber(),
                    'language' => $language
                ]); ?>"><?= $language; ?></a>
            <? endforeach; ?>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default panel-log">
            <div class="panel-heading">
                Task Log
            </div>
            <div class="panel-body">
                <?= $this->renderLog($task->getLog()); ?>
            </div>

        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>

<script type="text/javascript">
    $(function()    {
        $(document.forms.create_task).localitEditable();

        $('#words-recalculate').click(function()    {
            var link = this;
            var wordsCountElementWrapper = $('#words-count');
            var errorElement = wordsCountElementWrapper.siblings('.error')[0];
            var loadingElement = wordsCountElementWrapper.siblings('.localit-loading')[0];

            $(loadingElement).css('display', 'inline-block');
            $.ajax({
                url: $(link).attr('href'),
                success: function(response) {
                    if (typeof(response) === 'object')  {
                        if (response.success === true)  {
                            var wordsCount = response.wordsCount;
                            wordsCountElementWrapper.html(wordsCount);
                        }
                        else    {
                            $(errorElement).html(response.message);
                        }
                    }
                    else    {
                        $(errorElement).html('Server Error');
                    }
                },
                fail: function()    {
                    $(errorElement).html('Server Error');
                }
            }).complete(function()  {
                    $(loadingElement).css('display', 'none');
                });

            return false;
        });
    });

</script>