<?php
$this->headScript()->appendFile($this->basePath() . '/js/ejs/ejs_production.js');
$this->headScript()->appendFile($this->basePath() . '/js/ejs/ejs_fulljslint.js');
$this->headScript()->appendFile($this->basePath() . '/js/uploader.js');
$this->headScript()->appendFile($this->basePath() . '/js/reference-book.js');
$this->headScript()->appendFile($this->basePath() . '/js/auto-replace.js');


$this->headLink()->appendStylesheet($this->basePath() . '/css/localit-style.css');

?>



<?= $this->formHidden($form->get('id')); ?>

<script type="text/javascript">
    var formURLs = {
        'translationUpload': '<?= $this->url('localit/upload-translation', ['task' => $task->getId()]); ?>'
    };

    var taskStatusHaystack = <?= json_encode($availableStatuses); ?>;

    var currentStatus = <?= json_encode($task->getStatus()); ?>;

    <?php if ($task instanceof Localit\Entity\TaskFile): ?>
    var wordsCountUnique = <?= json_encode($task->getQuantityWordsUnique()); ?>;
    var wordsCountNonUnique = <?= json_encode($task->getQuantityWordsNonUnique()); ?>;

    <?php endif; ?>



    var taskEstimatedDateTimestamp = <?= json_encode($task->getEstimatedDate() ?
        $task->getEstimatedDate()->getTimestamp() * 1000 : 'null'); ?>;

    var taskPatchURL = <?= json_encode($this->url('api/task-patch', [
        'task' => $task->getInstanceNumber()
    ])); ?>;

</script>

<div class="row">
    <div class="col-xs-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Task details</h3>
            </div>
            <div class="panel-body">
                <?php if ($showMayBeDoneWell): ?>
                <div id="may-be-done-well" class="alert alert-info">
                    <p>
                        You have finished your activities, may be it's time to update status?
                    </p>
                    <p>
                        Click
                        <a id="set-status-to-done" href="#"><b>here</b></a>
                        to change task status to

                        <a href="<?= $this->url('localit/explain-task-status', ['status' => 'done']); ?>">
                            <b>Done</b>
                        </a>


                    </p>
                </div>
                <?php endif; ?>
                <dl>
                    <dt>Name:</dt>
                    <dd><?= $task->getName(); ?></dd>

                    <dt>Description:</dt>
                    <dd><?= $task->getDescription(); ?></dd>

                    <dt>Category:</dt>
                    <dd><?= $task->getCategory()->getName(); ?></dd>

                    <?php if ($task instanceof Localit\Entity\TaskFile): ?>
                        <div id="words-count-unique"></div>
                        <div id="words-count-non-unique"></div>
                    <?php else: ?>
                        <dt>Words Count:</dt>
                        <dd><?= $task->getWordsCount(); ?></dd>
                    <?php endif; ?>

                    <dt>Task owner:</dt>
                    <dd><?= $task->getOwner() ? $task->getOwner()->getDisplayName() : ''; ?></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Task Progress</h3>
            </div>
            <div class="panel-body">
                <div class="well well-lg">Task Status:
                    <div id="change-status-control"></div>
                </div>
                <dl>
                    <dt>Expected date:</dt>
                    <dd><?= $task->getExpectedDate()->format('Y-m-d'); ?></dd>
                </dl>

                <div id="estimated-date-control"></div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    Upload result for languages:
                </div>
                <div class="btn-group localit-available-languages">
                    <?php
                    $finishedLanguages = $task->getFinishedHash();
                    foreach ($task->getTranslate() as $language): ?>
                        <?php
                            $finished = $finishedLanguages[$language->getAbbr()];
                        ?>
                        <button type="button" <?= $finished ? 'finished="finished"' : ''; ?> class="btn btn-default <?= $finished ? 'btn-success' : ''; ?>">
                            <?= $language->getAbbr(); ?>
                        </button>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default panel-log">
            <div class="panel-heading">
                Task Log
            </div>
            <div class="panel-body">
                <?= $this->renderLog($task->getLog()); ?>
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Comment
            </div>
            <div class="panel-body">
                <form action="<?= $this->url('localit/comment-task', ['task' => $task->getInstanceNumber()]); ?>" method="post">
                    <textarea class="form-group form-control" name="comment"></textarea>
                    <div class="help-block"></div>
                    <div class="btn-toolbar">
                        <button class="btn btn-default" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function()    {
        if (typeof(formURLs) === 'undefined' || formURLs.translationUpload === undefined)   {
            throw 'URL config is missing. Form is disruptive';
        }



        $('.localit-available-languages button').click(function()   {

            if (this.hasAttribute('finished'))   {
                if (!confirm('Translation for this language was already uploaded,\n You sure want to overwrite?'))   {
                    return;
                }
            }

            var language = $.trim($(this).text());

            var form = new FileUploadForm(formURLs.translationUpload);

            form.uploadFile({
                'language': language
            });

        });

        var taskPatch = function(newValue, propName)  {
            var scope = this;
            var data = {};
            data[propName] = newValue;

            $.ajax({
                url: taskPatchURL,
                type: 'post',
                data: data,
                success: function(response) {
                    if (response && typeof(response) === 'object')   {
                        if (response.success)   {
                            scope.success();
                        }
                        else    {
                            scope.fail(response.message);
                        }
                    }
                    else    {
                        scope.fail('Server error');
                    }

                },
                error: function()    {
                    scope.fail('Server error');
                }
            });
        };

        var estimatedDate = new Date(taskEstimatedDateTimestamp);
        Date.prototype.formatForDOMDate = function()    {
            var s = this.getFullYear();

            s += '-';

            var month = this.getMonth() + 1;
            if (String(month).length === 1)   {
                s += '0' + String(month);
            }
            else    {
                s += String(month);
            }

            s += '-';

            var date = this.getDate();
            if (String(date).length === 1)   {
                s += '0' + String(date);
            }
            else    {
                s += String(date);
            }


            return s;
        };

        var estimatedDateControl = $('#estimated-date-control').autoReplace({
            template: 'js/auto-replace-date.ejs',
            startValue: estimatedDate.formatForDOMDate(),
            label: 'Estimated date',
            help: 'Provide an estimate for this task',
            api: taskPatch,
            propName: 'estimatedDate'
        });

        //add check
        var wordsCountUniqueEl = $('#words-count-unique');
        if (wordsCountUniqueEl.length)    {
            wordsCountUniqueEl.autoReplace({
                template: 'js/auto-replace-text.ejs',
                startValue: typeof wordsCountUnique !== 'undefined' ? wordsCountUnique : undefined,
                label: 'Unique Words Count',
                help: 'Unique words count',
                api: taskPatch,
                propName: 'quantityWordsUnique'
            });
        }

        var wordsCountNonUniqueEl = $('#words-count-non-unique');
        if (wordsCountNonUniqueEl.length)    {
            wordsCountNonUniqueEl.autoReplace({
                template: 'js/auto-replace-text.ejs',
                startValue: typeof wordsCountNonUnique !== 'undefined' ? wordsCountNonUnique : undefined,
                label: 'Non Unique Words Count',
                help: 'Non Unique Words Count',
                api: taskPatch,
                propName: 'quantityWordsNonUnique'
            });
        }

        var statusControl = $('#change-status-control').autoReplace({
            template: 'js/auto-replace-select.ejs',
            haystack: typeof(taskStatusHaystack) !== 'undefined' ? taskStatusHaystack : {
                'missing': 'missing status haystack'
            },
            startValue: typeof currentStatus !== 'undefined' ? currentStatus : undefined,
            api: taskPatch,
            propName: 'status'
        });

        $('#set-status-to-done').click(function()   {
            statusControl.setValue('done', function()  {
                $('#may-be-done-well').hide();
            });

            return false;
        });
    });

</script>