<?php
$form->setAttribute('action', $this->url('localit/create-task-master', array('action' => 'upload-task-file')))
    ->setAttribute('method', 'POST')
    ->setAttribute('role', 'form')
    ->setAttribute('class', 'form-inline')
    ->prepare();

echo $this->form()->openTag($form);
?>

    <fieldset <?= array_key_exists('disabled', $options) && $options['disabled'] ? 'disabled' : ''; ?>>
        <div>
        <?= $this->bootstrapElement('formFile', $form->get('taskFile'), array(
            'help' => 'It\'s should be xlsx file with one sheet one column'
        )); ?>
        </div>

        <div class="form-group">
            <?php $element = $form->get('asFile'); ?>

            <?= $this->formCheckbox($element); ?>
            <?= $this->formLabel($element) ?>


            <p class="help-block">Keep in mind that Translator should have specific software to read this file</p>

            <div class="error">
                <?= $this->formElementErrors($element) ?>
            </div>
        </div>

        <div>
            <?= $this->formSubmit($form->get('submit')); ?>
        </div>
    </fieldset>

<?= $this->form()->closeTag(); ?>