<?php
    $this->headScript()->appendFile($this->basePath() . '/js/ejs/ejs_production.js');

    $this->headScript()->appendFile($this->basePath() . '/js/jQRangeSlider/lib/jquery.mousewheel.min.js');
    $this->headScript()->appendFile($this->basePath() . '/js/jQRangeSlider/jQAllRangeSliders-min.js');

    $this->headLink()->appendStylesheet($this->basePath() . '/js/jQRangeSlider/css/classic-min.css');


    $this->headScript()->appendFile($this->basePath() . '/js/custom/Iterator.js');

    $this->headScript()->appendFile($this->basePath() . '/js/custom/DateRange.js');
    $this->headScript()->appendFile($this->basePath() . '/js/DataTables/media/js/jquery.dataTables.js');

    $this->headScript()->appendFile($this->basePath() . '/js/report/datatables.js');

    $this->headLink()->appendStylesheet($this->basePath() . '/css/report/datatables.css');
?>
<script type="text/javascript">
    var exportReportURL = <?= json_encode($this->url('localit/export-report')); ?>;
</script>

<div  class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Report
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="report_table">
        <thead>
            <tr class="filters">
                <th></th>
                <th></th>
                <th filter-type="date-range"></th>
                <th filter-type="date-range"></th>
                <th filter-type="date-range"></th>
                <th filter-type="date-range"></th>
                <th filter-type="select"></th>
                <th filter-type="numbers-range"></th>
                <th filter-type="select"></th>
                <th filter-type="numbers-range"></th>
                <th filter-type="numbers-range"></th>
                <th filter-type="select"></th>
                <th filter-type="select"></th>
            </tr>
            <tr class="head">
                <th class="sortable">Task Id</th>
                <th class="sortable">Task Name</th>
                <th class="sortable"><input type="checkbox" class=""  />Creation Date</th>
                <th class="sortable"><input type="checkbox" class=""  />Expected Date</th>
                <th class="sortable"><input type="checkbox" class=""  />Start Date</th>
                <th class="sortable"><input type="checkbox" class=""  />Approved Date</th>
                <th class="sortable"><input type="checkbox" class=""  />Category</th>
                <th class="sortable">Words count<br />(Unique/NonUnique)</th>
                <th class="sortable" data-label="language"><input type="checkbox" class=""  />Language</th>
                <th class="sortable"><input type="checkbox" class=""  />Rate</th>
                <th class="sortable" data-label="amount"><input type="checkbox" class=""  />Amount</th>
                <th class="sortable"><input type="checkbox" class=""  />Status</th>
                <th class="sortable"><input type="checkbox" class=""  />Owner</th>
            </tr>
        </thead>
        <tbody>

        <?php foreach ($taskSet as $task): ?>
            <?php foreach ($task->getTranslate() as $language): ?>
                <tr>
                    <td>
                        <?= $task->getInstanceNumber(); ?>
                    </td>
                    <td>
                        <?= $task->getName(); ?>
                    </td>
                    <td>
                        <?= $task->getCreationDate('Y-m-d'); ?>
                    </td>
                    <td>
                        <?= $task->getExpectedDate('Y-m-d'); ?>
                    </td>
                    <td>
                        <?= $task->getStartDate('Y-m-d'); ?>
                    </td>
                    <td>
                        <?= $task->getApprovedDate('Y-m-d'); ?>
                    </td>
                    <td>
                        <?= $task->getCategory(); ?>
                    </td>
                    <td>
                        <?= $this->showWordsCount($task, ['short' => true]); ?>
                    </td>
                    <td>
                        <?= $language->getAbbr(); ?>
                    </td>
                    <td>
                        <?= $language->getRate(); ?>
                    </td>
                    <td>
                        <?= $task->getSumForLanguage($language); ?>
                    </td>
                    <td>
                        <?=  $task->getStatusTitle(); ?>
                    </td>
                    <td>
                        <?=  $task->getOwner() ? $task->getOwner()->getDisplayName() : ''; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endforeach; ?>
        </tbody>
    </table>
    <div class="panel-body">
        <div>
            <label>Total sum:</label>
            <span id="totalSum"></span>
        </div>
    </div>
    <div class="panel-body">
        <button class="btn btn-default" id="export">Export</button>
    </div>

</div>