<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <base href="<?= $this->basePath(); ?>/" />
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->

        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/css.js')
            ->prependFile($this->basePath() . '/js/custom/jquery.extend.js')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery-ui.min.js')
//            ->prependFile('http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))

        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container large-container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<?php echo $this->url('dashboard') ?>"><?php echo $this->translate('Dashboard') ?></a></li>
                        <li class="active"><a href="<?php echo $this->url('application/report') ?>"><?php echo $this->translate('Report') ?></a></li>

                        <? if ($user = $this->zfcUserIdentity()): ?>
                            <? if($user->isAdmin() || $user->isManager()): ?>
                                <li class="active"><a href="<?= $this->url('application/create-task'); ?>"><?php echo $this->translate('Create new Task') ?></a></li>
                            <? endif; ?>
                        <? endif; ?>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <? if ($user = $this->zfcUserIdentity()): ?>
                            <? if($user->isAdmin()): ?>
                                <li class="active"><a href="<?php echo $this->url('zfcuser/register') ?>"><?php echo $this->translate('Register') ?></a></li>
                            <? endif; ?>
                            <? if($user->isAdmin() || $user->isManager()): ?>
                                <li class="active"><a href="<?php echo $this->url('application/backend') ?>"><?php echo $this->translate('Backend') ?></a></li>
                            <? endif; ?>
<!--                            <li class="active"><a href="--><?php //echo $this->url('zfcuser') ?><!--">--><?php //echo $this->translate('Profile') ?><!--</a></li>-->
                            <li class="active"><a href="<?php echo $this->url('zfcuser/logout') ?>"><?php echo $this->translate('LogOut') ?></a></li>
                        <? endif; ?>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container large-container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p class="pull-left">&copy; 2001 - <?php echo date('Y') ?> by Prestigio. <?php echo $this->translate('All rights reserved.') ?></p>
                <p class="pull-right"><?php echo $this->translate('Powered by Zend Framework 2.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
