<div>
    <div style="height: 80px; padding-top: 4px; padding-left: 15px; background-color: #0066cc;">
        <h1>Localit Application Nofication</h1>
    </div>

    <div>
        <p style="padding: 10px;">
            We glad to notify you, <br />
            that you have an new task.
        </p>
        <p style="padding: 10px;">
            Task was posted by user <?= $user->getDisplayName(); ?>
        </p>
        <p style="padding: 10px;">
            <h2>Some details here</h2>
            Task Name: <?= $task->getName(); ?> (#<?= $task->getInstanceNumber(); ?>)<br />
            Expected Date: <?= $task->getExpectedDate('Y-m-d'); ?><br />
            Task Description: <?= $task->getDescription(); ?><br />

        </p>
        <p>
            Click <a href="<?= $this->url('application/translate-task', ['task' => $task->getInstanceNumber()], ['force_canonical' => true]); ?>">here</a> to see it online.
        </p>

    </div>
<hr />
    <div style="padding: 20px;">
        With best regards, <br />
        Localit Team ;)<br />
    </div>

    <div>
        Fill free to contact with us if u want to improve this notification or add some additional.<br />
        <a href="https://docs.google.com/document/d/1-0mt_ybm49gu55nA-dAhOpqfpdGc6z6Yj1I43TuMYUM/edit?usp=sharing">Bugtrack doc</a>
    </div>

</div>