<div class="<?= $groupClass ?>">
    <? if (!is_null($element->getLabel())): ?>
    <?= $this->formLabel($element) ?>
    <? endif; ?>

    <div class="error">
        <?= $this->formElementErrors($element) ?>
    </div>

    <?= $this->$formHelper($element); ?>

    <? if (array_key_exists('help', $options)): ?>
    <p class="help-block">
        <?= $options['help']; ?>
    </p>
    <? endif; ?>
</div>