<div class="row">
    <?= $this->localitShowAddTaskForm(1); ?>
    <? if (isset($errorMessage)): ?>
        <div class="error">
            <?= $errorMessage; ?>
        </div>
    <? endif; ?>
</div>
