<div class="panel">
    <div class="panel-body">

        <input type="hidden" name="persist_filter" value="<?= $activeFilter; ?>" />

        <input type="hidden" name="sort" value="" />
        <input type="hidden" name="persist_sort" value="<?= $activeSort; ?>" />
        <input type="hidden" name="sort_direction" value="<?= $sortDirection; ?>" />

        <div class="btn-group">
            <?php foreach ($filterSet as $name => $filter): ?>
                <button name="filter" value="<?= $name; ?>" type="submit" class="btn btn-default <?= $name === $activeFilter ? 'active' : ''; ?>">
                    <?= $filter['title']; ?> (<?= $filter['count']; ?>)
                </button>
            <?php endforeach; ?>
        </div>
        <div class="btn-group pull-right">

            <select class="form-control" name="manager" id="select-manager">
                <option value="all">all</option>
                <?php foreach ($managers as $availableManager): ?>
                    <option value="<?= $availableManager->getId(); ?>" <?= $manager === (string)$availableManager->getId() ? 'selected' : ''; ?>>
                        <?= $availableManager->getDisplayName(); ?>
                    </option>
                <?php endforeach; ?>
            </select>


            <?php foreach ($sortSet as $name => $title): ?>
<!--                <button name="sort" value="--><?//= $name; ?><!--" type="submit" class="btn btn-default --><?//= $name === $activeSort ? 'active' : ''; ?><!--">-->
<!--                    --><?//= $title; ?>
<!--                    --><?//= $sortDirection; ?>
<!--                </button>-->
            <?php endforeach; ?>
        </div>


    </div>
</div>

<script type="text/javascript">
    $(function()    {
        $('th.sorting').click(function()    {
            var sortColumn = $(this).attr('data-column');
            console.log(sortColumn)

            $('form input[name=sort]').val(sortColumn);

            $('form').submit();
        })

        var activeSort = $('form input[name=persist_sort]').val();
        var sortDirection = $('form input[name=sort_direction]').val();
        if (sortDirection === 'ASC')    {
            $('th.sorting[data-column=' + activeSort + ']').addClass('sorting_asc');
        }
        else    {
            $('th.sorting[data-column=' + activeSort + ']').addClass('sorting_desc');
        }

        $('#select-manager').change(function()  {
            $(this).parents('form').submit();
        })

    });
</script>