<?php
    $this->headLink()->appendStylesheet($this->basePath() . '/css/report/datatables.css');

    if (!isset($taskEnterRoute))    {
        $taskEnterRoute = 'application/edit-task';
    }
?>



<div class="panel panel-default">
    <table class="table localit-tasklist">
        <thead>
            <tr>
                <th style="border-right: none;"></th>
                <th>Name</th>
                <th>Category</th>
                <th>Words</th>
                <th class="sorting" data-column="creationDate">Creation Date</th>
                <th class="sorting" data-column="estimatedDate">Estimated Date</th>
                <th class="sorting" data-column="startDate">Started Date</th>
                <th class="sorting" data-column="approvedDate">Approved Date</th>
                <th>Total Sum (<?= $totalSum; ?>), $</th>
                <th class="pull-right">Status</th>
            </tr>
        </thead>
        <? foreach ($taskSet as $task): ?>
            <?php
                if ($task->getTrash())  {
                    $rowClass = 'trash';
                }
                elseif ($task->getArchived())   {
                    $rowClass = 'archived';
                }
                else    {
                    $rowClass = '';
                }
            ?>

            <tr class="localit-readmore-parent <?= $rowClass; ?>">
                <td class="localit-td-checkbox">
                    <input type="checkbox" name="task[]" value="<?= $task->getInstanceNumber(); ?>" />
                </td>
                <td class="right-border">
                    <p class="list-group-item-heading localit-title">
                        #<?= $task->getInstanceNumber(); ?>
                        <a href="<?= $this->url($taskEnterRoute, ['task' => $task->getInstanceNumber()]) ?>">
                            <?= $task->getName(); ?>
                        </a>
                    </p>

                    <p class="list-group-item-text localit-readmore">
                        <?= $task->getDescription(); ?>
                    </p>
                </td>
                <td class="right-border">
                    <?
                        $category = $task->getCategory();
                        echo is_object($category) ? $category->getName() : '';
                    ?>
                </td>
                <td class="localit-td-alignleft right-border">
                    <?= $this->showWordsCount($task); ?>
                </td>
                <td class="right-border">
                    <?= $this->drawDate($task, 'getCreationDate'); ?>
                </td>
                <td class="right-border">
                    <?= $this->drawDate($task, 'getEstimatedDate'); ?>
                </td>
                <td class="right-border">
                    <?= $this->drawDate($task, 'getStartDate'); ?>
                </td>
                <td class="right-border">
                    <?= $this->drawDate($task, 'getApprovedDate'); ?>
                </td>
                <td class="right-border">
                    <?= $task->getTotalSum(); ?>
                </td>
                <td class="right-border">
                    <div class="pull-right" title="Task Status">
                        <?= array_key_exists($task->getStatus(), $allowedStatuses) ? $allowedStatuses[$task->getStatus()] : ' -- '; ?>
                    </div>
                </td>
            </tr>
            <tr class="<?= $rowClass; ?>">
                <td></td>
                <td colspan="9">
                    <div></div>
                    <div class="btn-group btn-group-xs pull-left">
                        <? foreach ($task->getFinishedHash() as $language => $finished): ?>
                            <a class="download-language-btn btn btn-default <?= $finished ? '' : 'disabled'; ?>" href="<?= $this->url('localit/download-translation', [
                                'task' => $task->getInstanceNumber(),
                                'language' => $language
                            ]); ?>"><?= $language; ?></a>
                        <? endforeach; ?>
                    </div>
                    <div class="pull-right">
                        <?= $this->taskFileDescription($task); ?>
                        <div class="btn-group btn-group-xs">
                            <a class="btn btn-default" href="<?= $this->url('localit/download-translation', ['task' => $task->getInstanceNumber()]); ?>">origin</a>
                        </div>
                    </div>
                </td>
            </tr>

        <? endforeach; ?>
    </table>

</div>