<?= $this->printWelcomeHeader(); ?>

<h1>Edit Task</h1>

<?= $this->localitShowEditTaskForm($task); ?>


<div class="error">
    <?php if (isset($messages) && count($messages) > 0): ?>
        <div>There are problem with saving form:</div>
        <ul>
            <?php foreach ($messages as $domain => $domainMessages): ?>
                <li>
                    <dl>
                        <?php foreach ($domainMessages as $element => $message): ?>
                            <!--                    <dt>--><?//= $element; ?><!--</dt>-->
                            <dd><?= $message; ?></dd>
                        <?php endforeach; ?>
                    </dl>
                </li>
            <?php endforeach; ?>
        </ul>
    <? endif; ?>
</div>