<div style="float:left;">
<h1>Translate Task</h1>


</div>
<form class="" action="<?= $this->url('localit/download-translation', ['task' => $task->getInstanceNumber()]); ?>">
    <button style="margin: 20px" class="btn btn-default" type="submit">Download Task</button>
    <?= $this->taskFileDescription($task); ?>
</form>
<div class="clearfix"></div>


<?= $this->localitShowTranslateTaskForm($task); ?>

<div class="error">
    <?php if (isset($messages) && count($messages) > 0): ?>
    <div>There are problem with saving form:</div>
    <ul>
        <?php foreach ($messages as $domain => $domainMessages): ?>
            <li>
                <dl>
                <?php foreach ($domainMessages as $element => $message): ?>
<!--                    <dt>--><?//= $element; ?><!--</dt>-->
                    <dd><?= $message; ?></dd>
                <?php endforeach; ?>
                </dl>
            </li>
        <?php endforeach; ?>
    </ul>
    <? endif; ?>
</div>